<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout_page.html}">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Départements</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container-fluid" layout:fragment="content" th:fragment="content">
       
        <div class="row">
            <h4 class="text-center titre">Départements</h4>
        </div>
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="card">
					<div class="card-body">
                        <div class="row">                            
                            <table class="table table-bordered table-striped text-center">
                                <thead>
                                    <tr>
                                        <th colspan="3">
                                            <button class="btn btn-success text-white">
                                                <a th:href="@{/departement/edit/}" class="mr-3 text-white" title="AJouter" >
                                                    <i class="fas fa-plus fa_table_link p-1"></i> Nouveau département
                                                </a>
                                            </button>
                                        </th>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr><th>Libellé</th><th>Nombre de bureau</th><th>Action</th></tr>
                                </thead>
                                <tbody th:if="${liste_departements!= null and liste_departements.size()>0}">
                                    <tr th:each="dept : ${liste_departements}">
                                        <td class="capitalize" th:text="${dept.libelle}" > </td>
                                        <td th:text="${dept.nbBureau}"> </td>
                                        <td class="text-center"> 
                                            <a th:href="@{/departement/view/(id=${dept.id})}" class="text-success mr-3 border-right" title="Voir" >
                                                <i class="fas fa-eye fa_table_link text-success p-1"></i>
                                            </a>
                                            <a th:href="@{/departement/edit/(id=${dept.id})}" class="text-success mr-3 border-right" title="Editer" >
                                                <i class="fas fa-edit fa_table_link text-success p-1"></i>
                                            </a>
                                            <a th:href="@{/departement/del/(id=${dept.id})}" class="text-danger" title="Supprimer" >
                                                <i class="fas fa-trash-alt fa_table_link text-danger p-1"></i>
                                            </a>																		
                                        </td>				
                                    </tr>
                                </tbody>
                                <tbody th:if="${liste_departements==null or liste_departements.size()<=0}">
                                    <tr>
                                        <td colspan="20" class="text-center">Aucun département trouvé !</td>
                                    </tr>
                                </tbody>			
				            </table>
				        </div>
                        <!-- =========== PAGINATION ============= -->
                        
                        <!-- ================ END PAGINATION -->		
			        </div>
		        </div>
	        </div>
		</div>
	</div>

    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>PIED DE PAGE </span>
            </div>
        </div>
    </footer>
</body>
</html>